

/* OVERLAYS
------------------------------------------------------------------- */

.splash-container,
.enquire-overlay,
.search-overlay,
.nav-overlay,
.filter-overlay {
    pointer-events: none;
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 1500;
    height: 100vh;
    /* opacity: 0; */
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    width: 100vw;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
body.cms-frontend-toolbar-active .splash-container,
body.cms-frontend-toolbar-active .enquire-overlay,
body.cms-frontend-toolbar-active .search-overlay,
body.cms-frontend-toolbar-active .nav-overlay,
body.cms-frontend-toolbar-active .filter-overlay {
    top: 28px;
}
body.cms-frontend-toolbar-active #popup_box .close {
    top: 58px;
}
.active-init .splash-container {
    display: flex;
}
.active-init .enquire-overlay,
.active-init .search-overlay,
.active-init .nav-overlay,
.active-init .filter-overlay {
    display: flex;
}
.splash-container.active,
.enquire-overlay.active,
.search-overlay.active,
.nav-overlay.active,
.filter-overlay.active {
    pointer-events: auto;
}


.splash-bg,
.overlay-bg {
    position: fixed;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 400;
    /* opacity: 0; */
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    width: 100vw;
    left: 0;
    top: 0;
}

/*    .overlay-bg {
        height: 0;
        background: #111;
        -webkit-transition: background 600ms, height 600ms cubic-bezier(.45,0,.27,1), width 600ms ease-in-out;
        transition: background 600ms, height 600ms cubic-bezier(.45,0,.27,1), width 600ms ease-in-out;
    }
    .overlay-bg.open {
        background: #111;
        height: 100vh;
        -webkit-transition: background .35s, height 300ms cubic-bezier(.45,0,.27,1), width 600ms ease-in-out;
        transition: background .35s, height 300ms cubic-bezier(.45,0,.27,1), width 600ms ease-in-out;
    }

    .filter-reveal,
    .nav-reveal,
    .enquire-reveal,
    .search-reveal {
        position: relative;
        z-index: 9999;
        }*/
/*    .filter-close-button,
    .nav-close-button,
    .enquire-close-button,
    .search-close-button {
        color: #fff;
        position: absolute;
        top: 26px;
        right: 26px;
        border: 2px solid transparent;
        padding: 7px 0 9px;
        margin: 0 0 0 25px;
        z-index: 1200;
        cursor: pointer;
        font-family: 'Apercu_Pro';
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1px;
        opacity: 0;
        transform: translate3d(200px, 0, 0);
        transition: transform 0.6s cubic-bezier(.87,.17,.18,.85), opacity 0.8s ease-in-out;
        -webkit-transform: translate3d(200px, 0, 0);
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(.87,.17,.18,.85), opacity 0.8s ease-in-out;
    }
        .overlay.active .filter-close-button,
        .overlay.active .nav-close-button,
        .overlay.active .enquire-close-button,
        .overlay.active .search-close-button {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
        }

    .overlay-container-inner {
        visibility: hidden;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
        z-index: 1000;
        width: 100vw;
        padding: 150px 100px 100px;
        box-sizing: border-box;
    }
        .overlay.active .overlay-container-inner {
            visibility: visible;
            }*/

 /*   .enquire-input-wrapper,
    .enquire-contact-wrapper,
    .search-wrapper,
    .nav-wrapper,
    .nav-contact-wrapper {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
        min-height: 400px;
        position: relative;
        font-family: 'Apercu_Pro';
        padding-left: 35px;
        color: #888;
        font-size: 15px;
    }
    .nav-wrapper {
        min-height: 0;
        }*/

   /* .nav-contact-module::before,
    .enquire-input-wrapper::before,
    .enquire-contact-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        width: 2px;
        display: block;
        left: -2px;
        background: #292929;
        height: 0;
        opacity: 0;
        }*/

/*    .filter-wrapper {
        display: block;
    }
        .filter-wrapper a,
        .filter-wrapper a:visited {
            color: #888;
        }
        .filter-wrapper .filter-group {
            opacity: 0;
            transform: translateY(200px);
            transition: all 1200ms cubic-bezier(0.030, 0.420, 0.145, 1.005);
        }
        .filter-wrapper .filter-group.visible {
            opacity: 1;
            transform: translateY(0);
        }
        .animate-out .filter-wrapper .filter-group {
            opacity: 0;
            transform: translateY(-200px);
            transition: all 300ms ease-in-out;
        }
        .filter-wrapper .filter-group ul li a {
            transition: color 500ms ease-in-out;
        }
        .filter-wrapper .filter-group ul li:hover a {
            color: #ccc;
        }
        */

    /* Splash overlay
    --------------------------------------------- */

    .splash-bg {
        width: 100%;
        height: 100vh;
        transform: translateY(100%);
        background: white;
        transition: opacity 2000ms ease-in-out, transform 800ms cubic-bezier(.45,0,.27,1);
    }
    .splash-bg.open {
        transform: translateY(0);
        transition: height 800ms cubic-bezier(.45,0,.27,1), background 400ms ease-in-out, transform 800ms cubic-bezier(.45,0,.27,1);
    }
    .splash-bg.open.start {

    }
    body.first-load-complete .splash-bg {
        transform: translateY(-100%);
    }
    .splash-container-inner {
        width: 100%;
        height: 100vh;
        padding: 0 125px;
        display: block;
        box-sizing: border-box;
        position: relative;
        z-index: 1001;
        opacity: 0;
        transition: opacity 2000ms ease-in-out, transform 800ms cubic-bezier(.45,0,.27,1);
        align-items: center;
        justify-content: center;
        display: flex;
    }
    body.splash-open .splash-container-inner {
        opacity: 1;
        transform: translateY(0);
    }
    body.first-load-complete .splash-container-inner {
        transform: translateY(-100%);
        opacity: 0;
    }
    .logo-wrapper,
    .location-wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
    .logo-wrapper svg path {
        opacity: 0;
        fill: #fff;
        transform: translateY(100%);
        transition: transform 1000ms cubic-bezier(.65,.06,.19,.96), opacity 1000ms ease-in-out;
    }
    .logo-wrapper svg path.complete {
        opacity: 1;
        transform: translateY(0%);
    }
    .location-wrapper {
        text-align: right;
    }
    .location-item {
        margin-left: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: bold;
        transform:translateY(30px);
        display: inline-block;
        opacity: 0;
    }
    .location-item.visible {
        transform:translateY(0);
        opacity: 1.0;
        -moz-transition: -moz-transform 2s cubic-bezier(.18, 1, .21, 1), opacity 1s cubic-bezier(.18, 1, .21, 1);
        -o-transition: -o-transform 2s cubic-bezier(.18, 1, .21, 1), opacity 1s cubic-bezier(.18, 1, .21, 1);
        -webkit-transition: -webkit-transform 2s cubic-bezier(.18, 1, .21, 1), opacity 1s cubic-bezier(.18, 1, .21, 1);
        transition: transform 2s cubic-bezier(.18, 1, .21, 1), opacity 1s cubic-bezier(.18, 1, .21, 1);
    }



    /*Hilman*/

    #popup_container{
        display: none!important
    }

    .h1-preloader{
        font-size: 100px;
        color: #0f9a1c;
    }

    .h3-preloader{
        font-size: 30px;
        color: #0f9a1c;
    }

    .span-preloader{
        font-size: 12px;
        color: #0f9a1c;   
    }

@media screen and (max-width: 600px) {
      .h1-preloader{
        font-size: 50px;
        color: #0f9a1c;
        margin-left: -40px
    }

    .h3-preloader{
        font-size: 20px;
        color: #0f9a1c;
        margin-left: -40px
    }
}