/* @import url(fonts.css); */
@import url(layout.css);
@import url(styles.css);
@import url(responsive.css);

@import "tailwindcss/base";

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "bootstrap/dist/css/bootstrap.css";

@import "aos/dist/aos.css";

@import 'owl.carousel/dist/assets/owl.carousel.css';
@import '@fortawesome/fontawesome-free/css/all.css';
@import "select2/dist/css/select2.css";
@import "@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";
