* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  height: 100%;
  padding-top: 3rem;
  color: #5a5a5a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 80vh;
}

.carousel-item > .bd-placeholder-img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 80vh;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* replace color */
.bg-primary  {
  background-color: #37F793 !important;
}
.bg-secondary {
  background-color: #37F7C3 !important;
}

/* navbar animation */
#navbar-secondary, #navbar-primary, #nav-wrapper {
  transition: top 0.3s;
}

/* main wrapper */
.page-wrap {
  min-height: 100%;
}

.trimmed:hover + .expanded {
  display: block;
} 

#carousel-card {
  margin-top: -600px; 
  z-index: 1015;
}

#popup_container {
  display: none !important;  
}


.blog-pagination {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 55px;
}

.pagination li{
  display: inline-block;
  margin: 0 10px;
}

.pagination li a{
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.pagination li a:hover,
.pagination .active a, 
.pagination a:active, 
.pagination .active a:hover,
.pagination .active a:focus, 
.pagination a:focus {
  background: transparent;
  border-color: #0f9a06;
  color: #0f9a06;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}


@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 62em) {
  #carousel-card {
    margin-top: unset; 
    z-index: unset;
  }
}

@media (max-width: 26em) {
  .carousel-item > .bd-placeholder-img  {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 12rem;
  }
  
  .carousel-item {
    height: 12rem;
  }

  #carousel-card {
    margin-top: unset; 
    z-index: unset;
  }
}